{% extends 'base.html' %}
{% block content %}
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="/index/">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="/news/">新闻资讯</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="javascript:;">牛排怎么分类...</a></li>
		</ul>
		
		<div class="news-conwrap">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
			<h1 class="news-contit">新闻</h1>
            {% for news in new %}
			<p class="news-conitem">{{ news.title }}{{ news.content }}</p>
            {% endfor %}
			<a href="/news/" class="shop-icon">返回列表页</a>
		</div>
{% endblock %}