<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
<form method="post">
    {% csrf_token %}
    <label>美食名称</label>
    <p><input type="text" name="name"></p>
    <label>美食价格</label>
    <p><input type="text" name="price"></p>
    <label>美食描述</label>
    <p><input type="text" name="description"></p>
    <label>美食类型</label>
    <select name="type_id">

        {% for foods_id in foods_type_id_list %}
        <option value="{{ foods_id.id }}">{{ foods_id.label }}</option>
        {% endfor %}

    </select>
    <label>美食图片</label>
    <p><input type="file" name="picture"></p>
    <input type="submit" name="提交">
</form>
-->
<p>
<label>美食名称</label>
<input type="text" name="d" id="name">
</p>
<div id="response"></div>

<script src="/static/js/jquery-1.11.0.js"></script>
<script>
    $('#name').blur(function () {
        var value=$('#name').val();
        var url='/find_food/?food_name='+value;
        console.log(url);
        $.ajax(
            {
                url:url,
                type:'get',
                data:'',
                success:function (data) {
                    var response_data=data['food_data'];
                    for (var i in response_data){
                        var food_name=response_data[i]['name'];
                        var html='<p>'+food_name+"<p>";
                        $("#response").append(html);
                        console.log(html)
                    }
                },
                error:function (error) {
                    console.log(error)
                }
            }
        )
    })
</script>
</body>
</html>